{% extends 'workouttracker/base.html' %}
{% load dict_key %}
{% load index %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Workout Tracker : {{ user.first_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form form-horizontal" id="controller">
                <div class="panel panel-default">

                    <div class="row">
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-1" for="start_date">Start:</label>
                        <div class="col-md-2">
                            <input class="form-control" id="start_date" name="start_date" type="date" value="{{ start_date }}">
                        </div>

                        <label class="control-label col-md-1" for="end_date">End:</label>
                        <div class="col-md-2">
                            <input class="form-control" id="end_date" name="end_date" type="date" value="{{ end_date }}">
                        </div>

                        <label class="control-label col-md-1" for="chart">Chart:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="chart" name="chart">
                                <option value="summary">Summary Chart</option>
                                <option value="breakdown">Breakdown Chart</option>
                                <option value="totals">Workout Summary</option>
                                <option value="details">Workout Details</option>
                                <option value="weight">Weight History</option>
                            </select>
                        </div>

                        <div class="col-md-1">
                            <button type="submit" class="btn btn-action btn-sm">Update</button>
                        </div>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-3 text-center"><button type="button" data-val="7" id="week_button" class="btn btn-success btn-block active date-filter-button">Week</button></div>
                        <div class="col-md-3 text-center"><button type="button" data-val="30" id="month_button" class="btn btn-secondary btn-block date-filter-button">Month</button></div>
                        <div class="col-md-3 text-center"><button type="button" data-val="365" id="year_button" class="btn btn-secondary btn-block date-filter-button">Year</button></div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="charts" style="display: block;">
        <div class="col-md-12">
            <div id="summary_chart" style="display: block;">
                <canvas id="myChart" width="400" height="150"></canvas>
            </div>
        </div>
    </div>

    <div class="row" id="details" style="display: none;">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}