{% extends 'workouttracker/base.html' %}
{% load dict_key %}
{% load index %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Workout Tracker : {{ user.first_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form form-horizontal" id="controller">
                <div class="panel panel-default">

                    <div class="row">
                        <label class="control-label col-sm-1" for="start_date">Start:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="start_date" name="start_date" type="date" value="{{ start_date }}">
                        </div>

                        <label class="control-label col-sm-1" for="end_date">End:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="end_date" name="end_date" type="date" value="{{ end_date }}">
                        </div>

                        <label class="control-label col-sm-1" for="chart">Chart:</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="chart" name="chart">
                                <option value="summary">Summary Chart</option>
                                <option value="breakdown">Breakdown Chart</option>
                                <option value="totals">Workout Summary</option>
                                <option value="details">Workout Details</option>
                                <option value="weight">Weight History</option>
                            </select>
                        </div>

                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-action btn-sm">Update</button>
                        </div>

                        <div class="col-sm-2">
                            <a class="add_workout" title="Add workout"><i class="fas fa-plus-circle big"></i></a>
                            <a class="add_weight" title="Add weight"><i class="fas fa-weight big"></i></a>


                        </div>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3 text-center"><button type="button" data-val="7" id="week_button" class="btn btn-success btn-block active date-filter-button">Week</button></div>
                        <div class="col-sm-3 text-center"><button type="button" data-val="30" id="month_button" class="btn btn-secondary btn-block date-filter-button">Month</button></div>
                        <div class="col-sm-3 text-center"><button type="button" data-val="365" id="year_button" class="btn btn-secondary btn-block date-filter-button">Year</button></div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="charts" style="display: block;">
        <div class="col-md-12">
            <div id="summary_chart" style="display: block;">
                <canvas id="myChart" width="400" height="150"></canvas>
            </div>
        </div>
    </div>

    <div class="row" id="details" style="display: none;">
    </div>
</div>

<div class="modal fade modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="ModalBody">
        </div>
        <div class="modal-footer" id="ModalFooter">
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" id="confirmModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="confirmModalText"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirm-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="confirm-no">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" id="confirmDeleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="confirmDeleteModalText"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="delete-yes" data-val="" data-date="">Yes</button>
                <button type="button" class="btn btn-primary" id="delete-no">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" id="weightModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="weightHeader">Enter your weight:</h3>
            </div>
            <form class="form form-horizontal" id="weight_form" action="{% url 'workout:add_weight'%}" method="post">
                {% csrf_token %}
                <div class="modal-body" id="WeightModalBody">
                    <p>Your last recorded weight was <span id="last_weight"></span> on <span id="last_weight_date"></span>.</p>

                    <div class="row" style="padding-top: 5px;">
                        <label for="weight" class="col-sm-1">Weight:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" required="true" name="weight" id="weight" style="width: 90%; display: inline;"> kg
                            <div class="error text-danger" style="display: none;" id="weight_error">
                                <p>Please enter a valid weight!</p>
                            </div>
                        </div>
                        <label for="bodyfat" class="col-sm-2">Body Fat:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="bodyfat" id="bodyfat" style="width: 85%; display: inline;"> %
                            <div class="error text-danger" style="display: none;" id="bodyfat_error">
                                <p>Please enter a valid body fat!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close_weight" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="add_weight">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}