{% extends 'workouttracker/base.html' %}
{% load dict_key %}
{% load index %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Workout Tracker : {{ user.first_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form form-horizontal" id="controller">
                <div class="panel panel-default">

                    <div class="row" style="padding: 5px;">
                        <label class="control-label col-sm-1" for="start_date">Start:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="start_date" name="start_date" type="date" value="{{ start_date }}">
                        </div>

                        <label class="control-label col-sm-1" for="end_date">End:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="end_date" name="end_date" type="date" value="{{ end_date }}">
                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-action btn-sm">Update</button>
                        </div>


                        <div class="col-sm-2">
                            <a class="add_workout" title="Add workout"><i class="fas fa-plus-circle big"></i></a>
                            <a class="add_weight" title="Add weight"><i class="fas fa-weight big"></i></a>
                            <a class="edit_profile" title="Add weight"><i class="fas fa-user-circle big"></i></a>
                        </div>

                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col-sm-2 text-center"><button type="button" data-val="7" id="week_button" class="btn btn-success btn-block date-filter-button">Week</button></div>
                        <div class="col-sm-2 text-center"><button type="button" data-val="30" id="month_button" class="btn btn-secondary btn-block active date-filter-button">Month</button></div>
                        <div class="col-sm-2 text-center"><button type="button" data-val="365" id="year_button" class="btn btn-secondary btn-block date-filter-button">Year</button></div>

                        <label class="control-label col-sm-1" for="chart">View:</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="chart" name="chart">
                                <option value="summary">Summary</option>
                                <option value="breakdown">Breakdown by Group</option>
                                <!--<option value="totals">Workout Summary</option>-->
                                <option value="details">Workout Details</option>
                                <option value="strength">Strength Training</option>
                                <option value="weight">Weight History</option>
                            </select>
                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row strength-drill-down" style="display: none;">
        <div class="col-sm-12">
            <form class="form form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">Filter By:</label>
                    <div class="col-sm-4">
                        <select name="group" id="strength-group" class="form-control">
                            <option value="">-- All --</option>
                            {% for group in groups %}
                                <option value="{{ group.name }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" id="charts" style="display: block;">
        <div class="col-md-12">
            <div id="summary_chart" style="display: block;">
                <canvas id="myChart" width="400" height="150"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"><hr></div>
    </div>
    <div class="row" id="details" style="display: none;">
    </div>
</div>

{% include 'workouttracker/formModal.html' %}
{% include 'workouttracker/confirmModal.html' %}
{% include 'workouttracker/confirmDeleteModal.html' %}
{% include 'workouttracker/weightModal.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="{% static 'workouttracker/js/scripts.js' %}"></script>
{% endblock %}