{% load index %}
{% load static %}

{% block body %}
<form action="{% url 'workout:edit_profile' %}" method="post" id="profile_form" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        {% for field in user_form %}
            <div class="col-sm-2 padded">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-4 padded">
                {{ field }}
            </div>
        {% endfor %}

        {% for field in profile_form %}
            <div class="col-sm-2 padded">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-4 padded">
                {{ field }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
        {% for field in password_form %}
            <div class="col-sm-3 padded">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-9 padded">
                {{ field }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
       <div class="col-sm-12 text-right">
           <button type="submit" class="btn btn-primary" name="save_btn" value="continue">Save</button>
           <button type="button" class="btn btn-secondary" id="close_profile_form" data-val="{{ date }}">Close</button>
       </div>
    </div>
</form>
{% endblock %}
