{% load index %}
{% load static %}

{% block body %}
{% if msg %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        </div>
    </div>
{% endif %}
<form action="{% url 'workout:edit_profile' %}" method="post" id="profile_form" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        {% for field in user_form %}
            <div class="col-sm-2 padded">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-4 padded">
                {{ field }}
            </div>
        {% endfor %}

        {% for field in profile_form %}
            <div class="col-sm-2 padded">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-4 padded">
                {{ field }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
       <div class="col-sm-12 text-right">
           <button type="submit" class="btn btn-primary" name="save_btn" value="continue">Save</button>
           <button type="button" class="btn btn-secondary" id="close_profile_form" data-val="{{ date }}">Close</button>
       </div>
    </div>
</form>

<script>
    {% if user.workout_user.unit_type == "imp" %}
        // update the range on the height input
        $("#id_profile-height").attr("min", 48);
        $("#id_profile-height").attr("max", 96);
    {% endif %}

    $("#id_profile-unit_type").on("change", function(e){
        units = $(this).val();
        if(units == "imp"){
            // update the label
            $("#profile_height_units").html("(in)");
            // update the range
            $("#id_profile-height").attr("min", 48);
            $("#id_profile-height").attr("max", 96);
        } else {
            $("#profile_height_units").html("(cm)");
            $("#id_profile-height").attr("min", 120);
            $("#id_profile-height").attr("max", 213);
        }
    });
</script>
{% endblock %}