{% load index %}
{% load static %}

{% block body %}
    {% if edit is True %}
        EDIT
    {% endif %}
    {% if workout.id %}
        <form action="{% url 'workout:edit_workout_form' workout.id %}" id="edit_workout_form" method="post">
    {% else %}
        <form action="{% url 'workout:add_workout_form' %}" id="add_workout_form" method="post">
    {% endif %}
        {% csrf_token %}
        <input type="hidden" name="saved" id="saved" value="0">
        <div class="row" style="padding: 5px;">
            {% for field in form %}
                {% if field.name == "time" %}
                    <div class="col-sm-2 padded">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-sm-3 padded">
                         {{ field }}
                    </div>
                    <div class="col-sm-1 padded">
                        <a class="time_now">Now</a>
                    </div>
                {% elif field.name != 'notes' %}
                    <div class="col-sm-2 padded">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-sm-4 padded">
                         {{ field }}
                    </div>
                {% else %}
                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col-sm-2 padded">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-sm-10 padded">
                             {{ field }}
                        </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
               <hr>
            </div>
        </div>
        {{ exercise_form.management_form }}
        <div class="exercise_detail_form" {% if not workout.id %}style="display: none;"{% endif %}>
            <div class="row">
                <div class="col-sm-3">
                    <label for="exercise">Exercise:</label>
                </div>
                <div class="col-sm-1 strength_field">
                    <label for="sets">Sets:</label>
                </div>
                <div class="col-sm-1 strength_field">
                    <label for="reps">Reps:</label>
                </div>
                <div class="col-sm-2 strength_field">
                    <label for="weight">Weight (kg):</label>
                </div>
                <div class="col-sm-2">
                    <label for="intensity">Intensity:</label>
                </div>
                <div class="col-sm-2">
                    <label for="duration">Duration:</label>
                </div>
                <div class="col-sm-2 walk_field">
                    <label for="distance">Distance (km):</label>
                </div>
                <div class="col-sm-1">
                    <label for="delete">Delete:</label>
                </div>
            </div>
            {% for form in exercise_form %}
                <div class="row" style="padding: 5px;">
                    {% for field in form %}
                        {% if field.name == "exercise" %}
                            <div class="col-sm-3">
                                {{ field }}
                            </div>
                        {% elif field.name == "intensity" %}
                             <div class="col-sm-2">
                                {{ field }}
                            </div>
                        {% elif  field.name == "distance" %}
                             <div class="col-sm-2 walk_field">
                                {{ field }}
                            </div>
                        {% elif field.name == "duration"  %}
                            <div class="col-sm-2">
                                {{ field }}
                            </div>
                        {% elif field.name == "id" %}
                            {{ field }}
                        {% elif field.name == "DELETE" %}
                            <div class="col-sm-1 text-center">
                                {{ field }}
                            </div>
                        {% elif field.name == "reps" or field.name == "sets" %}
                            <div class="col-sm-1 strength_field">
                                {{ field }}
                            </div>
                        {% elif field.name == "weight"  %}
                            <div class="col-sm-2 strength_field">
                                {{ field }}
                            </div>
                        {% else %}
                            <div class="col-sm-1">
                                {{ field }}
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="row">
           <div class="col-sm-12 text-right">
               <button type="submit" class="btn btn-primary" name="save_btn" value="continue">Save</button>
               <button type="button" class="btn btn-secondary close_form" id="close_form" data-val="{{ date }}">Close</button>
           </div>
        </div>
    </form>

    <script>
        {% if workout.id %}
            $("#id_summary-type").trigger("change");
        {% endif %}
        {% if workout.group_id %}
            // $("#id_summary-group").trigger("change");
        {% endif %}
    </script>
{% endblock %}

{% block styles %}
{%endblock %}